---
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
import EntriesFive from "./EntriesFive.astro";
import EntriesSix from "./EntriesSix.astro";

---

<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 lg:px-24 py-12">
    <h3
      class="text-base uppercase font-semibold leading-6 text-black lg:text-2xl">
      Highlighted news
    </h3>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-8 mt-12">
      <div
        class="mx-auto grid grid-cols-1 sm:grid-cols-3 gap-6 lg:gap-0 lg:grid-cols-1 lg:col-span-2 [&>*:nth-child(1)]:pt-0 [&>*:nth-child(5)]:pb-0">
        {
          allPosts
            .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
            .slice(0, 5)
            .map((post) => (
              <EntriesFive
                url={"/posts/" + post.slug}
                title={post.data.title}
                description={post.data.description}
                alt={post.data.title}
                pubDate={post.data.pubDate.toString().slice(0, 10)}
                author={post.data.author}
                image={post.data.ogImage}
              />
            ))
        }
      </div>
      <div
        class="mx-auto w-full grid grid-cols-1 sm:grid-cols-3 gap-6 lg:gap-0 lg:grid-cols-1 pt-12 sm:pt-16 lg:mx-0 lg:max-w-none lg:pt-0 [&>*:nth-child(1)]:pt-0 lg:border-l">
        {
          allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).map((post) => (
            <EntriesSix
              url={"/posts/" + post.slug}
              title={post.data.title}
              description={post.data.description}
              alt={post.data.title}
              pubDate={post.data.pubDate.toString().slice(0, 10)}
              author={post.data.author}
              image={post.data.ogImage}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
