---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderTwo from "../components/headers/HeaderTwo.astro";
import EntriesThree from "../components/entries/EntriesThree.astro";
import EntryFour from "../components/entries/EntryFour.astro";
import CtaTwo from "../components/cta/CtaTwo.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
import { AstroSeo } from "@astrolib/seo";
import { format } from "date-fns";
---

<AstroSeo
  title="Blog"
  description="Darko's corner of the internet."
  canonical={Astro.url.toString()}
  openGraph={{
    url: Astro.url.toString(),
    title: "Darko's corner of the internet.",
    description: "webdev | community | content creation",
    images: [
      {
        url: `${Astro.url.toString()}/og-default.png`,
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/png",
      },
      {
        url: `${Astro.url.toString()}/og-default.png`,
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/png",
      },
      { url: `${Astro.url.toString()}/og-default.png` },
      { url: `${Astro.url.toString()}/og-default.png` },
    ],
    site_name: "Darko's Corner",
  }}
  twitter={{
    handle: "@d_bozhinovski",
    site: Astro.url.toString(),
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section aria-labelledby="your-label" id="your-id">
    <div class="max-w-7xl mx-auto px-8 lg:px-24 py-12">
      <h3
        class="text-base uppercase font-semibold leading-6 text-black lg:text-2xl"
      >
        All articles
      </h3>
      <div
        class="mx-auto grid grid-cols-1 gap-y-12 gap-x-3 md:px-6 lg:px-0 lg:gap-x-0 sm:gap-y-16 sm:grid-cols-2 mt-12 lg:grid-cols-3 lg:-mx-6"
      >
        {
          allPosts
            .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
            .map((post) => (
              <EntriesThree
                url={"/posts/" + post.slug}
                title={post.data.title}
                description={post.data.description}
                alt={post.data.title}
                pubDate={
                  post.data.pubDate && format(post.data.pubDate, "yyyy-MM-dd")
                }
                author={post.data.author}
                image={post.data.ogImage}
              />
            ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
