---
import BaseLayout from "../layouts/BaseLayout.astro";

import MainEntry from "../components/entries/MainEntry.astro";
import MainEntryGroup from "../components/entries/MainEntryGroup.astro";
import EntriesTwo from "../components/entries/EntriesTwo.astro";
import EntryFour from "../components/entries/EntryFour.astro";
import CtaTwo from "../components/cta/CtaTwo.astro";
import HighlightedNews from "../components/entries/HighlightedNews.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title="Blog landing three"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section aria-labelledby="your-label" id="your-id">
    <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
      <h3
        class="text-base uppercase font-semibold leading-6 text-black lg:text-2xl">
        Latest articles
      </h3>
      <div
        class="mx-auto grid grid-cols-1 gap-x-8 mt-12 gap-y-12 lg:grid-cols-2 sm:gap-y-16 items-start">
        <div class="grid gap-y-3 divide-y [&>*:nth-child(2)]:pt-6">
          {
            allPosts
            .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
              .slice(0, 2)
              .map((post) => (
                <MainEntry
                  url={"/posts/" + post.slug}
                  title={post.data.title}
                  description={post.data.description}
                  alt={post.data.title}
                  pubDate={post.data.pubDate.toString().slice(0, 10)}
                  author={post.data.author}
                  image={post.data.ogImage}
                />
              ))
          }
        </div>
        <div
          class="mx-auto w-full grid grid-cols-1 sm:grid-cols-3 gap-6 lg:gap-0 lg:grid-cols-1 sm:divide-transparent lg:divide divide-y divide-neutral-700 pt-12 sm:pt-16 lg:mx-0 lg:max-w-none lg:pt-0 [&>*:nth-child(1)]:pt-0 items-start">
          {
            allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).map((post) => (
              <MainEntryGroup
                url={"/posts/" + post.slug}
                title={post.data.title}
                description={post.data.description}
                alt={post.data.title}
                pubDate={post.data.pubDate.toString().slice(0, 10)}
                author={post.data.author}
                image={post.data.ogImage}
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <section aria-labelledby="your-label" id="your-id">
    {
      allPosts
      .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
        .slice(2, 3)
        .map((post) => (
          <EntryFour
            url={"/posts/" + post.slug}
            title={post.data.title}
            description={post.data.description}
            alt={post.data.title}
            pubDate={post.data.pubDate.toString().slice(0, 10)}
            author={post.data.author}
            image={post.data.ogImage}
          />
        ))
    }
  </section>
  <section aria-labelledby="your-label" id="your-id">
    <div class="max-w-7xl mx-auto px-8 lg:px-24 py-12">
      <h3
        class="text-base uppercase font-semibold leading-6 text-black lg:text-2xl">
        Tutorials
      </h3>
      <div
        class="mx-auto grid grid-cols-1 sm:grid-cols-2 gap-x-3 md:gap-x-0 gap-y-12 sm:gap-y-16 mt-12 lg:grid-cols-4 lg:divide-x md:-mx-6">
        {
          allPosts
          .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
            .slice(2, 6)
            .map((post) => (
              <EntriesTwo
                url={"/posts/" + post.slug}
                title={post.data.title}
                description={post.data.description}
                alt={post.data.title}
                pubDate={post.data.pubDate.toString().slice(0, 10)}
                author={post.data.author}
                image={post.data.ogImage}
              />
            ))
        }
      </div>
    </div>
  </section>

  <CtaTwo />
  <HighlightedNews />
</BaseLayout>
